@media (max-width: 1230px) {
    .menu {
        justify-content: end;

        &-line {
            &-mobile {
                display: block;
                top: 310px;
                left: 70px;
            }

            &-router {
                display: none;
            }

            &-social {
                display: none;
            }

            &-feedback {
                display: block;

                &>.header-top-feedback {
                    background-color: $social;
                    color: $main-white;

                    &:hover {
                        color: $social;
                        background-color: $main-white;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .menu-line-mobile {
        top: 215px;
    }
}

@media (max-width: 650px) {
    .menu {
        &-line-mobile {
            top: 195px;
        }
    }
}

@media (max-width: 550px) {
    .menu {
        &-line-mobile {
            top: 140px;
        }
    }
}

@media (max-width: 500px) {
    .menu {
        padding: 0 20px;

        &-line-mobile {
            left: 10px;
        }
    }
}

@media (max-width: 374px) {
    .menu {
        &-line-mobile {
            top: 125px;
        }
    }
}