.footer {
    display: flex;
    justify-content: space-between;
    background-color: $main-blue;
    padding: 100px 90px 30px;
    background-image: url(../assets/curve-footer.jpg);
    background-repeat: no-repeat;
}