.header {
    &-top {
        display: flex;
        justify-content: space-between;
        padding: 18px 90px 172px;
        background-image: url(../assets/header-main.jpg);
        background-repeat: no-repeat;
    }
}