.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 54px;
    box-sizing: border-box;
    align-items: center;

    &-router {
        @include font-size-line();
        height: 30px;
        padding: 1px 2px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: $social;

        &-main {
            @include font-size-line();
            color: $social;
            padding: 1px 2px;
            text-decoration: none;
        }
    }

    &-social {
        display: flex;
        justify-content: space-between;
        margin-left: 255px;
        list-style-type: none;

        &-li {
            &-link {
                &-svg {
                    width: 28px;
                    height: 28px;
                    margin-right: 24px;
                }
            }

            &:first-child {
                margin-top: 1px;
            }
        }
    }
}